---
import FeaturedPosts from "../../components/FeaturedPosts.astro";
import Layout from "../../layouts/Layout.astro";
import ReadTime from "../../components/ReadTime.astro";

import { getAllPosts, getTags } from "../../lib/wordpress";

import { type Post, type Tax } from "../../types.ts";

export async function getStaticPaths() {
  const [posts, tags] = await Promise.all([getAllPosts(), getTags()]);

  return tags.map((tag) => ({
    params: { slug: tag.slug },
    props: {
      posts: posts.filter((post) => post.tags.includes(tag.name)),
      tag: tag,
    },
  }));
}

interface Props {
  posts: Post[];
  tag: Tax;
}
const { posts, tag } = Astro.props;
const featuredPosts = posts.slice(0, 2);
const regularPosts = posts.slice(2);
---

<Layout title={`${tag.name} — BUT. Honestly`} type="website">
  <div class="border-line flex items-end justify-between border-b pt-6 pb-2">
    <h1 class="max-w-lg">
      {tag.name}
    </h1>
    <p class="lead max-w-sm text-right text-base">{tag.description}</p>
  </div>

  <FeaturedPosts posts={featuredPosts} />

  <p class="meta mb-1 font-bold">All essays</p>
  <div>
    {
      regularPosts.map((post) => {
        const postDate = new Date(post.date).toLocaleString("default", {
          day: "numeric",
          month: "short",
          year: "numeric",
        });

        return (
          <div class="border-line flex items-center border-t py-7">
            <div class="flex-1">
              <h2>{post.title}</h2>
              <p class="excerpt mt-3 text-base">{post.excerpt}</p>
            </div>
            <div class="meta text-right font-medium">
              <p>{postDate}</p>
              <ReadTime
                class="text-accent text-right"
                content={post.contentHtml}
              />
            </div>
          </div>
        );
      })
    }
  </div>
</Layout>
