---
import Picture from "./Picture.astro";
import ReadTime from "./ReadTime.astro";

import { type Post } from "../types.ts";

interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<article class="space-y-3">
  {
    post.cover ? (
      <Picture
        src={post.cover}
        alt={post.featuredImageAlt ?? ""}
        width={516}
        height={344}
      />
    ) : null
  }
  <p class="meta mt-6">
    <span class="text-accent">
      {
        new Date(post.date).toLocaleDateString("default", {
          day: "numeric",
          month: "long",
          year: "numeric",
        })
      }</span
    >{" "}
    &middot; <ReadTime content={post.body} />
  </p>
  <h2>
    <a href={post.url} class="text-ink hover:text-accent">
      {post.title}
    </a>
  </h2>
  <p class="excerpt text-base">{post.excerpt}</p>
</article>
